In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [4]:
file_path = r'C:\Users\Thavamani\Desktop\ExcelR-Project1\cars24_20221210.csv'
df=pd.read_csv(r'C:\Users\Thavamani\Desktop\ExcelR-Project1\cars24_20221210.csv')
df.head()

,name,make,model,city,year,fueltype,kilometerdriven,ownernumber,transmission,bodytype,storename,isc24assured,registrationcity,registrationstate,benefits,discountprice,price,url,createdDate
0,Hyundai Elite i20,Hyundai,Elite I20,Kochi,2017,Petrol,35939,2,Manual,Hatchback,Kochi-Pns,False,Kozhikode,Kerala,13898,47399,607000,https://www.cars24.com/buy-used-hyundai-elite-...,2022-03-24
1,Maruti Alto 800,Maruti,Alto 800,Mumbai,2016,Petrol + Cng,6180,1,Manual,Hatchback,Hi-West Mumbai,False,Mumbai,Maharashtra,12542,2099,326000,https://www.cars24.com/buy-used-maruti-alto-80...,2022-11-09
2,Maruti Dzire,Maruti,Dzire,Lucknow,2019,Petrol + Cng,46808,1,Manual,Sedan,Vibhuti Khand - Gomti Nagar,False,Lucknow,Uttar Pradesh,13898,26000,640000,https://www.cars24.com/buy-used-maruti-dzire-2...,2022-09-30
3,KIA SELTOS,Kia,Seltos,Bangalore,2020,Diesel,26045,1,Manual,SUV,Bengaluru-Pns,False,Bengaluru,Karnataka,9688,143700,1354000,https://www.cars24.com/buy-used-kia-seltos-202...,2022-07-04
4,Maruti Ertiga,Maruti,Ertiga,Kolkata,2017,Petrol,53056,1,Manual,SUV,Hi-Kolkata,False,Barrackpore,West Bengal,13898,22800,676000,https://www.cars24.com/buy-used-maruti-ertiga-...,2022-10-28

In [5]:
df.shape

(6437, 19)

In [6]:
df.columns

Index(['name', 'make', 'model', 'city', 'year', 'fueltype', 'kilometerdriven',
       'ownernumber', 'transmission', 'bodytype', 'storename', 'isc24assured',
       'registrationcity', 'registrationstate', 'benefits', 'discountprice',
       'price', 'url', 'createdDate'],
      dtype='object')

In [7]:
df.describe()

,year,kilometerdriven,ownernumber,benefits,discountprice,price
count,6437.000000,6437.000000,6437.000000,6437.000000,6437.000000,6.437000e+03
mean,2017.636166,41568.066335,1.235669,12079.200559,23500.592512,6.781378e+05
std,2.656825,26187.115364,0.454501,2458.162316,41579.296564,3.450395e+05
min,2008.000000,64.000000,1.000000,9688.000000,-155500.000000,1.340000e+05
25%,2016.000000,20580.000000,1.000000,9688.000000,-100.000000,4.390000e+05
50%,2018.000000,38177.000000,1.000000,12542.000000,10600.000000,5.880000e+05
75%,2020.000000,59333.000000,1.000000,13898.000000,37000.000000,8.290000e+05
max,2022.000000,455601.000000,3.000000,19407.000000,388300.000000,3.048000e+06

In [8]:
## checking null values
null_counts = df.isnull().sum()
null_counts[null_counts > 0]

transmission    376
bodytype        375
dtype: int64

In [9]:
# Fill missing values in 'transmission' and 'bodytype' with 'Unknown'
df['transmission'] = df['transmission'].fillna('Unknown')
df['bodytype'] = df['bodytype'].fillna('Unknown')

In [10]:
df.duplicated().sum()

15

In [15]:
# ========================
# 1. Import Libraries
# ========================
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import joblib

# ========================
# 2. Load Dataset
# ========================
df = pd.read_csv(r"C:\Users\Thavamani\Desktop\ExcelR-Project1\cars24_20221210.csv")

print(df.head())
print(df.info())

# ========================
# 3. Feature Engineering
# ========================
# Create Age column
current_year = 2025
df['age'] = current_year - df['year']

# ========================
# 4. Define Features & Target
# ========================
X = df[['make', 'model', 'year', 'fueltype', 'kilometerdriven', 'ownernumber', 'transmission', 'bodytype', 'age']]
y = df['price']

# ========================
# 5. Preprocessing
# ========================
cat_cols = ['make', 'model', 'fueltype', 'transmission', 'bodytype']
num_cols = ['year', 'kilometerdriven', 'ownernumber', 'age']

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), cat_cols),
        ('num', 'passthrough', num_cols)
    ]
)

# ========================
# 6. Pipeline with RandomForest
# ========================
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', RandomForestRegressor(n_estimators=200, random_state=42))
])

# ========================
# 7. Train-Test Split
# ========================
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# ========================
# 8. Train Model
# ========================
model.fit(X_train, y_train)

# ========================
# 9. Save Model Locally
# ========================
model_filename = r"C:\Users\Thavamani\Desktop\ExcelR-Project1\cars24_price_model.pkl"
joblib.dump(model, model_filename)
print(f"âœ… Model saved as {model_filename}")

# ========================
# 10. Evaluate Model
# ========================
y_pred = model.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

print(f"RMSE: {rmse}")
print(f"RÂ² Score: {r2}")

# ========================
# 11. Predict Example Car Price
# ========================
new_car = pd.DataFrame({
    'make': ['Hyundai'],
    'model': ['Elite I20'],
    'year': [2019],
    'fueltype': ['Petrol'],
    'kilometerdriven': [25000],
    'ownernumber': [1],
    'transmission': ['Manual'],
    'bodytype': ['Hatchback'],
    'age': [current_year - 2019]
})

predicted_price = model.predict(new_car)
print(f"ðŸ’° Predicted Price: â‚¹{predicted_price[0]:,.0f}")

                name     make      model       city  year      fueltype  \
0  Hyundai Elite i20  Hyundai  Elite I20      Kochi  2017        Petrol
1    Maruti Alto 800   Maruti   Alto 800     Mumbai  2016  Petrol + Cng
2       Maruti Dzire   Maruti      Dzire    Lucknow  2019  Petrol + Cng
3         KIA SELTOS      Kia     Seltos  Bangalore  2020        Diesel
4      Maruti Ertiga   Maruti     Ertiga    Kolkata  2017        Petrol

   kilometerdriven  ownernumber transmission   bodytype  \
0            35939            2       Manual  Hatchback
1             6180            1       Manual  Hatchback
2            46808            1       Manual      Sedan
3            26045            1       Manual        SUV
4            53056            1       Manual        SUV

                     storename  isc24assured registrationcity  \
0                    Kochi-Pns         False        Kozhikode
1               Hi-West Mumbai         False           Mumbai
2  Vibhuti Khand - Gomti Nagar         False          Lucknow
3                Bengaluru-Pns         False        Bengaluru
4                   Hi-Kolkata         False      Barrackpore

  registrationstate  benefits  discountprice    price  \
0            Kerala     13898          47399   607000
1       Maharashtra     12542           2099   326000
2     Uttar Pradesh     13898          26000   640000
3         Karnataka      9688         143700  1354000
4       West Bengal     13898          22800   676000

                                                 url createdDate
0  https://www.cars24.com/buy-used-hyundai-elite-...  2022-03-24
1  https://www.cars24.com/buy-used-maruti-alto-80...  2022-11-09
2  https://www.cars24.com/buy-used-maruti-dzire-2...  2022-09-30
3  https://www.cars24.com/buy-used-kia-seltos-202...  2022-07-04
4  https://www.cars24.com/buy-used-maruti-ertiga-...  2022-10-28
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6437 entries, 0 to 6436
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               6437 non-null   object
 1   make               6437 non-null   object
 2   model              6437 non-null   object
 3   city               6437 non-null   object
 4   year               6437 non-null   int64
 5   fueltype           6437 non-null   object
 6   kilometerdriven    6437 non-null   int64
 7   ownernumber        6437 non-null   int64
 8   transmission       6061 non-null   object
 9   bodytype           6062 non-null   object
 10  storename          6437 non-null   object
 11  isc24assured       6437 non-null   bool
 12  registrationcity   6437 non-null   object
 13  registrationstate  6437 non-null   object
 14  benefits           6437 non-null   int64
 15  discountprice      6437 non-null   int64
 16  price              6437 non-null   int64
 17  url                6437 non-null   object
 18  createdDate        6437 non-null   object
dtypes: bool(1), int64(6), object(12)
memory usage: 911.6+ KB
None
âœ… Model saved as C:\Users\Thavamani\Desktop\ExcelR-Project1\cars24_price_model.pkl
RMSE: 102271.32364153775
RÂ² Score: 0.9072999562669604
ðŸ’° Predicted Price: â‚¹734,932